aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.3
astroid==2.11.7
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
audioread==2.1.9
autoflake==1.7.4
autopep8==1.7.0
backcall==0.2.0
base58==2.1.1
beautifulsoup4==4.11.1
bitarray==1.2.2
black==22.10.0
boto3==1.18.24
botocore==1.21.24
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.4
cytoolz==0.11.2
debugpy==1.6.2
decorator==5.0.9
dill==0.3.5.1
distlib==0.3.6
entrypoints==0.4
eth-abi==2.1.1
eth-account==0.5.7
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.3.0
eth-typing==2.3.0
eth-utils==1.10.0
executing==0.8.3
fastapi==0.85.0
faunadb==4.1.1
ffmpeg-python==0.2.0
filelock==3.8.0
flake8==4.0.1
Flask==2.2.2
frozenlist==1.3.0
future==0.18.2
grpcio==1.43.0
gTTS==2.2.4
h11==0.14.0
h2==2.6.2
hexbytes==0.2.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==3.2
importlib-metadata==4.12.0
ipfshttpclient==0.8.0a2
ipykernel==6.15.1
ipython==8.4.0
iso8601==1.0.2
isort==5.10.1
itsdangerous==2.1.2
jedi==0.17.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==7.3.4
jupyter-core==4.11.1
lazy-object-proxy==1.7.1
librosa==0.8.1
llvmlite==0.36.0
lru-dict==1.1.7
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.6.1
msgpack==1.0.4
multiaddr==0.0.9
multidict==6.0.2
mypy==0.961
mypy-extensions==0.4.3
nest-asyncio==1.5.5
netaddr==0.8.0
numba==0.53.1
numpy==1.21.1
opencv-python==4.6.0.66
packaging==21.3
pandas==1.3.5
parsimonious==0.8.1
parso==0.7.1
pathspec==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pipenv==2022.9.8
platformdirs==2.5.2
pluggy==1.0.0
pooch==1.4.0
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.9.1
pycparser==2.20
pycryptodome==3.14.1
pydantic==1.10.2
pydocstyle==6.1.1
pydub==0.25.1
pyflakes==2.4.0
Pygments==2.12.0
pylint==2.14.4
pyls-mypy==0.1.8+6.g3b105b4
pyparsing==2.4.7
pyrsistent==0.18.1
pytesseract==0.3.9
python-dateutil==2.8.2
python-dotenv==0.21.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.5.0
pytoolconfig==1.2.1
pytube==11.0.1
pytz==2021.3
PyYAML==6.0
pyzmq==23.2.0
ray==2.0.0
requests==2.26.0
resampy==0.2.2
rlp==2.0.1
rope==1.2.0
s3transfer==0.5.0
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
sox==1.4.1
split-image==1.1.2
stack-data==0.3.0
starlette==0.20.4
threadpoolctl==2.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
toolz==0.11.2
tornado==6.2
traitlets==5.3.0
typing_extensions==4.3.0
ujson==5.4.0
urllib3==1.26.6
uvicorn==0.18.3
varint==1.0.2
virtualenv==20.16.5
virtualenv-clone==0.5.7
wcwidth==0.2.5
web3==5.28.0
websockets==9.1
Werkzeug==2.2.2
whatthepatch==1.0.2
wrapt==1.14.1
yapf==0.32.0
yarl==1.7.2
zipp==3.8.1
